<div class="container container-custom">
  <div class="row" style="padding-top: 7vh">
    <div class="col-6 block">

      <div  class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body"  >
          <div class="overlay-container">
            <img class="custom-card-image" src="../../assets/img/dash-5.jpg"  alt="Card image cap">
            <div class="card-overlay">
              <button class="btn btn-outline-light overlay-btn" routerLink="/upload">File Upload</button>
            </div>
          </div>
        </div>
      </div>




    </div>


    <div class="col-6 block">
      <div class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body"  >
          <div class="overlay-container">
            <img class="custom-card-image" src="../../assets/img/dash-6.png"  alt="Card image cap">
            <div class="card-overlay">
              <button class="btn btn-outline-light overlay-btn" routerLink="/seatingpreview">Seating Preview</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->

  <div class="row" *ngIf="userData.role=='admin'" >
    <div class="col-6 block">

      <div  class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body"  >
          <div class="overlay-container">
            <img class="custom-card-image" src="../../assets/img/dash-1.jpg"  alt="Card image cap">
            <div class="card-overlay">
              <button class="btn btn-outline-light overlay-btn" routerLink="/exammanagement">Exam Management</button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-6 block">
      <div class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body"  >
          <div class="overlay-container">
            <img class="custom-card-image" src="../../assets/img/dash-3.jpg"  alt="Card image cap">
            <div class="card-overlay">
              <button class="btn btn-outline-light overlay-btn" routerLink="/roommanagement">Room Management</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <!------------------------------------------------------------------------------------------------------------------->


  <div class="row">
    <div class="col-6 block">
      <div  class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body"  >
          <div class="overlay-container">
            <img class="custom-card-image" src="../../assets/img/dash-2.jpg"  alt="Card image cap">
            <div class="card-overlay">
              <button class="btn btn-outline-light overlay-btn" routerLink="/noticeboard">Notice Board</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-6 block">
      <div class="card dash-cards" >
        <div class="card-header">
          Featured
        </div>

        <div class="card-body"  >
           <div class="overlay-container">
                <img class="custom-card-image" src="../../assets/img/dash-4.png"  alt="Card image cap">
                <div class="card-overlay">
                  <button class="btn btn-outline-light overlay-btn" routerLink="/seatingfinal">Seating Final</button>
                </div>
           </div>
        </div>

      </div>
    </div>

  </div>

</div>

