/* You can add global styles to this file, and also import other style files */

/*@import "~normalize.css";*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/angular2-toaster/toaster.css";


* {
  box-sizing: border-box;
}

body{
  padding-top: 0;
}

.jumbotron-heading{
  width: 100%;
  padding-bottom: 3.4%;
  border-radius: 0;
  margin-top: 3%;
}


.background{
  background-image: url("assets/img/dep1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;

}

.overlay{
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  z-index: 5;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}





.login-container{
  width: 20%;
  position: absolute;
  left: 39%;
  top: 32vh;
  z-index: 100;
}

.register-container{
  position: absolute;
  z-index: 10;
  left: 37%;
  top: 14%;
}

.register-container label{
  color: black;
}



.center-in-page{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.center-in-page-button{
  position: absolute;
  top: 49%;
  left: 44%;
  transform: translate(-50%,-50%);
}







/* 1024x768 */
@media only screen and (max-width: 1365px) and (min-width: 1024px) {

  .jumbotron-heading{
    padding-bottom: 5.9%;
  }

  .container-custom{
    width: 80%;
  }

  .login-container{
    width: 26%;
    position: absolute;
    left: 38%;
    top: 32vh;
  }

  .register-container{
    left:27%;
    top:8%;
  }

  .center-in-page-button{
    left:40% !important;
  }


  /*.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -20%;
    top: -31px;
  }*/


}


/* 1366x768 */
@media only screen and (min-width: 1366px) and (max-width: 1919px){
  .jumbotron-heading{
    padding-bottom: 4.5%;
  }

  .container-custom{
    width: 80%;
  }

  .login-container{
    width: 25%;
    position: absolute;
    left: 35%;
    top: 32vh;
  }

  .register-container{
    left:34%;
    top:10%;
  }

  .center-in-page-button{
    left:41% !important;
  }

 /* .background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -20%;
    top: -41px;
  }*/

}





/**/


/* 1366x768 */

/*@media only screen and (min-width: 1366px) and (max-width: 1919px) {

  .jumbotron-heading{
    width: 103%;
    padding-bottom: 4%;
    padding-left: 23%;
  }

  .container-custom{
    width: 67% !important;
  }

}*/
