<div class="overlay"></div>
<div class="background">
    <div class="tracking-in-expand center-in-page heading ">
      EXAM SEATING ARRANGEMENT
    </div>
    <div class="puff-in-center center-in-page-button heading-button">
      <button class="btn btn-lg btn-outline-light " routerLink="/register">SIGN UP</button>
      <button class="btn btn-lg btn-outline-light " routerLink="/login">SIGN IN</button>
    </div>

</div>
<div class="footer text-center">
  <div>
    <a href="http://ryzenphoenix.herokuapp.com/">
      <img class="company-logo" src="../../assets/img/footer.png" width="100px" height="100px">
      <p class="text-muted">©2020 Copyright: RyzenPhoenix</p>
    </a>

  </div>

  <small class="text-muted">click to contact</small>
</div>
